services:
  labsphere:
    container_name: labsphere_app
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - '3000:3000'
    env_file:
      - .env
    environment:
      NODE_ENV: production
    restart: unless-stopped
