@import 'tailwindcss';

@theme inline {
  --font-clash: var(--font-clash), sans-serif;
  --font-clash-extralight: var(--font-clash-extralight), sans-serif;
  --font-clash-light: var(--font-clash-light), sans-serif;
  --font-clash-medium: var(--font-clash-medium), sans-serif;
  --font-clash-semibold: var(--font-clash-semibold), sans-serif;
  --font-clash-bold: var(--font-clash-bold), sans-serif;
  --font-clash-variable: var(--font-clash-variable), sans-serif;
}

/* Hide native calendar icon */
/* input[type="date"].custom-date::-webkit-calendar-picker-indicator {
  opacity: 0;
  display: none;
}

input[type="date"].custom-date::-webkit-inner-spin-button,
input[type="date"].custom-date::-webkit-clear-button {
  display: none;
}

    input[type="date"]::-webkit-calendar-picker-indicator {
        display: none;
        -webkit-appearance: none; 
    } */

/* Scoped scrollbar for modal */
.modal-scroll::-webkit-scrollbar {
  width: 8px;
}

.modal-scroll::-webkit-scrollbar-track {
  background: #f1f5f9;
  border-radius: 9999px;
}

.modal-scroll::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 9999px;
}

.modal-scroll::-webkit-scrollbar-thumb:hover {
  background: #94a3b8;
}
